body{
    background-color: aliceblue;
    font-style: normal;
    font-family: Roboto Slab,serif;

}
.hea{
    font-size: 25px;
    font-weight: 500;
    margin-top: 30px;
    position: relative;
    top: 45px;
    padding-left: 30px;
}
h4{
    font-size: 25px;
    font-weight: 500;
    padding-left: 200px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.4s;
  }
  h4:hover{
    transform: scale(1.03);
    color: black;
  }
  h2{
    font-size: 300%;
    font-weight: 200;
    padding-left: 200px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.4s;
  }
   h2:hover{
    transform: scale(1.03);
    color: black;
  }
  h3{
    font-size: 1.1rem;
    font-weight: 400;
    padding-left: 200px;
  }
   .a1,.a2,.a3,.a4{
    text-align: left;
    display: flex;
    flex-direction: row;
 }
 .p1, .p2, .p3, .p4{
    padding-left: 150px;
    }
  .p1:hover{
    transform: rotateY(180deg);
    flex-direction: column;
    transform-style: preserve-3d;
    transition: transform 1.2s;
    }
    .p2:hover{
        transform: rotateY(180deg);
        flex-direction: column;
        transform-style: preserve-3d;
        transition: transform 1.2s;
        }
        .p3:hover{
            transform: rotateY(180deg);
            flex-direction: column;
            transform-style: preserve-3d;
            transition: transform 1.2s;
        }
            .p4:hover{
               
                transform: rotateY(180deg);
                flex-direction: column;
                transform-style: preserve-3d;
                transition: transform 1.2s;
                }
                
 .t1,.t2,.t3,.t4{
    height: 200px;
    width: 620px;
    padding-left: 25px;
    margin-bottom: 50px;
 }
 .dark-mode {
    background-color: #212529;
    border: solid;
    border-color: #f0f8ff;
    border-width: 0.5px;
    color: #f0f8ff;
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: 3.5rem;
    margin-left: 220px;
    padding: 1rem 2rem;
    transition: 0.2s;
}